# Django Security
SECRET_KEY=8693b5c5ed567a7458087232c80edfab
DEBUG=False

# Database (SQLite local, cambiar a PostgreSQL en producción)
# DATABASE_URL=postgresql://user:password@localhost/carshop_db

# CORS & Frontend URL
FRONTEND_URL=https://car-shop-dusky.vercel.app

# AWS S3 (Opcional para media files)
# AWS_ACCESS_KEY_ID=your-access-key
# AWS_SECRET_ACCESS_KEY=your-secret-key
# AWS_STORAGE_BUCKET_NAME=your-bucket-name
# AWS_S3_REGION_NAME=us-east-1
